

    <div class="col-sm-4 well pull-right">
      <h1>Cart</h1>
      {{#each shoppingCart.items as |item|}}
        <p class="text-muted">{{item.name}}: ${{item.price}}</p>
        <button class="btn btn-danger btn-xs" {{action 'removeFromCart' item}}>Remove</button>
      {{/each}}
      <h4>Total: ${{calculate}}</h4>
    </div>
