<div class="col-sm-4">
  {{#link-to 'store.item' item.id}}
    <div class="well">
      <p>
        {{header}}
      </p>
      <p class="text-muted" >Qty: {{item.inventory}} {{inventory-icon item}}</p>
    </div>
  {{/link-to}}
</div>
