
// Main Styles

header h1 {
  font-family: 'Poiret One', cursive;
}

body {
  font-family: 'Roboto Slab', serif;
}

// ID Styles

#bottom {
  margin-top: 30vh;
}


// Class Styles




// Available Font Families

// font-family: 'Poiret One', cursive;
// font-family: 'Roboto Slab', serif;
