$text : rgba(0,0,0,1);
$hover : rgba(0,0,128,1);

body {
  font-family: 'Roboto Slab', serif;
  a:link,
  a:visited,
  a:active {
    color: $text;
    text-decoration: none;
  }
  a:hover {
    color: $hover;
    text-decoration: none;
  }
  header h1 {
    font-family: 'Poiret One', cursive;
  }
  #bottom {
    margin-top: 30vh;
  }
}

// Available Font Families

// font-family: 'Poiret One', cursive;
// font-family: 'Roboto Slab', serif;
