<header id="top" class="container-fluid jumbotron">
  <h1>S-Mart Game Store</h1>
  <h1 class="small">Shop Smart. Shop S-Mart</h1>
  <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav nav-tabs">
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">{{#link-to 'store'}}Store{{/link-to}}</li>
    </ul>
  </nav>
</header>

<div class="container">
  {{outlet}}
</div>

<footer id="bottom" class="container-fluid well">
  <h6>Copyright Very Big Games, LLC</h6>
</footer>
