<header id="top" class="container-fluid jumbotron">
  <h1>S-Mart Game Store</h1>
  <h1 class="small">Shop Smart. Shop S-Mart</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<footer id="bottom" class="container-fluid well">
  <h6>Copyright Very Big Games, LLC</h6>
</footer>
